body {
  margin: 0;
  padding: 0;
  background-color: lightseagreen;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 100px;
  height: 100px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 5s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.dot {
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  background-color: white;
  width: 20%;
  height: 20%;
}
.dot1 {
  top: 0%;
}
.dot2 {
  top: 12.5%;
  right: 12.5%;
}
.dot3 {
  right: 0%;
  margin-top: -5%;
}
.dot4 {
  bottom: 12.5%;
  right: 12.5%;
}
.dot5 {
  bottom: 0%;
}
.dot6 {
  bottom: 12.5%;
  left: 12.5%;
}
.dot7 {
  left: 0%;
  margin-top: -5%;
}
.dot8 {
  top: 12.5%;
  left: 12.5%;
}
